In [2]:
import pandas as pd
df=pd.read_csv('sales.csv')
df
df['month']=df['Order Date']
df['month']=df['month'].str.split('/').str.get(0).str.replace('01', 'jan').str.replace('02', 'feb').str.replace('03', 'Mar').str.replace('04', 'Apr').str.replace('05', 'May').str.replace('06', 'Jun').str.replace('07', 'July').str.replace('08', 'Aug').str.replace('09', 'September').str.replace('10', 'Oct').str.replace('11', 'Nov').str.replace('12', 'Dec')
df

df=df.dropna()
df=df.loc[(df['Quantity Ordered']!='Quantity Ordered')]
# e['Quantity Ordered'].unique()
df['Price Each'].unique()
# df['total sales']=
df['Price Each']=df['Price Each'].astype(float)
df['Quantity Ordered']=df['Quantity Ordered'].astype(float)
df['total sales']=df['Quantity Ordered']*df['Price Each']
df['total sales']=df['total sales'].astype(float)
loc1=df.loc[df['month']=='jan','total sales'].sum()

loc2=df.loc[df['month']=='feb','total sales'].sum()
loc3=df.loc[df['month']=='Mar','total sales'].sum()
loc4=df.loc[df['month']=='Apr','total sales'].sum()
loc5=df.loc[df['month']=='May','total sales'].sum()
loc6=df.loc[df['month']=='Jun','total sales'].sum()
loc7=df.loc[df['month']=='July','total sales'].sum()
loc8=df.loc[df['month']=='Aug','total sales'].sum()
loc9=df.loc[df['month']=='September','total sales'].sum()
loc10=df.loc[df['month']=='Oct','total sales'].sum()
loc11=df.loc[df['month']=='Nov','total sales'].sum()
loc12=df.loc[df['month']=='Dec','total sales'].sum()
loc1=loc1.astype(str)
loc2=loc2.astype(str)
loc3=loc3.astype(str)
loc4=loc4.astype(str)
loc5=loc5.astype(str)
loc6=loc6.astype(str)
loc7=loc7.astype(str)
loc8=loc8.astype(str)
loc9=loc9.astype(str)
loc10=loc10.astype(str)
loc11=loc11.astype(str)
loc12=loc12.astype(str)

df['total monthly sales']=df['month'].str.replace('jan', loc1).str.replace('jan', loc1).str.replace('feb', loc3).str.replace('Mar', loc3).str.replace('Apr', loc4).str.replace('May', loc5).str.replace('Jun', loc6).str.replace('July', loc7).str.replace('Aug', loc8).str.replace('September', loc9).str.replace('Oct', loc10).str.replace('Nov', loc11).str.replace('Dec', loc12)
df['total monthly sales']=df['total monthly sales'].astype(float)
s=df.loc[df['total monthly sales']>4613443.34]
s

df['Purchase State']=df['Purchase Address']
df['Purchase Address']= df['Purchase Address'].str.split(', ').str.get(1)
df['Purchase Address']
df

df=df.rename(columns={'Purchase Address': 'States'})
df=df.rename(columns={'Purchase State': 'Full Purchase Address'})

df['States'].unique()

p=df.loc[df['States'] == 'Dallas', 'total sales'].sum()
p
p = df.loc[df['States'] == 'Dallas']
p

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,States,month,total sales,total monthly sales,Full Purchase Address
24,24,248174,Bose SoundSport Headphones,1.0,99.99,09/17/19 22:57,Dallas,September,99.99,2097560.13,"385 Washington St, Dallas, TX 75001"
44,44,248194,20in Monitor,1.0,109.99,09/29/19 20:50,Dallas,September,109.99,2097560.13,"519 Cherry St, Dallas, TX 75001"
45,45,248195,ThinkPad Laptop,1.0,999.99,09/10/19 23:29,Dallas,September,999.99,2097560.13,"631 6th St, Dallas, TX 75001"
46,46,248196,Lightning Charging Cable,1.0,14.95,09/29/19 21:56,Dallas,September,14.95,2097560.13,"608 Spruce St, Dallas, TX 75001"
85,85,248233,AAA Batteries (4-pack),1.0,2.99,09/28/19 12:24,Dallas,September,2.99,2097560.13,"192 Jackson St, Dallas, TX 75001"
...,...,...,...,...,...,...,...,...,...,...,...
186763,18296,194012,AA Batteries (4-pack),1.0,3.84,04/08/19 12:19,Dallas,Apr,3.84,3390670.24,"718 Pine St, Dallas, TX 75001"
186766,18299,194015,USB-C Charging Cable,1.0,11.95,04/25/19 15:46,Dallas,Apr,11.95,3390670.24,"418 Adams St, Dallas, TX 75001"
186787,18320,194035,27in 4K Gaming Monitor,1.0,389.99,04/27/19 17:19,Dallas,Apr,389.99,3390670.24,"633 Dogwood St, Dallas, TX 75001"
186813,18346,194059,USB-C Charging Cable,1.0,11.95,04/24/19 09:20,Dallas,Apr,11.95,3390670.24,"405 Park St, Dallas, TX 75001"
186832,18365,194077,AA Batteries (4-pack),3.0,3.84,04/11/19 09:46,Dallas,Apr,11.52,3390670.24,"620 West St, Dallas, TX 75001"

In [19]:
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,States,month,total sales,total monthly sales,Full Purchase Address
0,0,248151,AA Batteries (4-pack),4.0,3.84,09/17/19 14:44,Los Angeles,September,15.36,2097560.13,"380 North St, Los Angeles, CA 90001"
1,1,248152,USB-C Charging Cable,2.0,11.95,09/29/19 10:19,Austin,September,23.90,2097560.13,"511 8th St, Austin, TX 73301"
2,2,248153,USB-C Charging Cable,1.0,11.95,09/16/19 17:48,Los Angeles,September,11.95,2097560.13,"151 Johnson St, Los Angeles, CA 90001"
3,3,248154,27in FHD Monitor,1.0,149.99,09/27/19 07:52,Seattle,September,149.99,2097560.13,"355 Hickory St, Seattle, WA 98101"
4,4,248155,USB-C Charging Cable,1.0,11.95,09/01/19 19:03,Atlanta,September,11.95,2097560.13,"125 5th St, Atlanta, GA 30301"
...,...,...,...,...,...,...,...,...,...,...,...
186845,18378,194090,Google Phone,1.0,600.00,04/08/19 17:11,Los Angeles,Apr,600.00,3390670.24,"177 Jackson St, Los Angeles, CA 90001"
186846,18379,194091,AA Batteries (4-pack),1.0,3.84,04/15/19 16:02,Austin,Apr,3.84,3390670.24,"311 Forest St, Austin, TX 73301"
186847,18380,194092,AAA Batteries (4-pack),2.0,2.99,04/28/19 14:36,San Francisco,Apr,5.98,3390670.24,"347 Sunset St, San Francisco, CA 94016"
186848,18381,194093,AA Batteries (4-pack),1.0,3.84,04/14/19 15:09,Portland,Apr,3.84,3390670.24,"835 Lake St, Portland, OR 97035"
186849,18382,194094,Lightning Charging Cable,1.0,14.95,04/18/19 11:08,Boston,Apr,14.95,3390670.24,"354 North St, Boston, MA 02215"